Obligatorio1/EmpresasPartner/WebContent/wsdl/EmpresaPagoFactura.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://middleware" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://middleware" xmlns:intf="http://middleware" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://middleware" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="PagarFactura">
    <complexType>
     <sequence>
      <element name="idFactura" type="xsd:long"/>
      <element name="moneda" type="xsd:short"/>
      <element name="monto" type="xsd:double"/>
      <element name="fechaHora" type="xsd:dateTime"/>
     </sequence>
    </complexType>
   </element>
   <element name="PagarFacturaResponse">
    <complexType>
     <sequence>
      <element name="PagarFacturaReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="PagarFacturaResponse">

      <wsdl:part element="impl:PagarFacturaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="PagarFacturaRequest">

      <wsdl:part element="impl:PagarFactura" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmpresaPagoFactura">

      <wsdl:operation name="PagarFactura">

         <wsdl:input message="impl:PagarFacturaRequest" name="PagarFacturaRequest">

       </wsdl:input>

         <wsdl:output message="impl:PagarFacturaResponse" name="PagarFacturaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmpresaPagoFacturaSoapBinding" type="impl:EmpresaPagoFactura">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="PagarFactura">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="PagarFacturaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="PagarFacturaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmpresaPagoFacturaService">

      <wsdl:port binding="impl:EmpresaPagoFacturaSoapBinding" name="EmpresaPagoFactura">

         <wsdlsoap:address location="http://localhost:8080/Empresas_Partner/services/EmpresaPagoFactura"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
